@font-face {
    font-family: 'Iceland';
    src: url('../font/Iceland-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Inter';
    src: url('../font/static/Inter-Medium.ttf') format('truetype');
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color:black;
    /*background: -webkit-linear-gradient(#ea4c6f,#fdf0bb);*/
    font-family: 'Inter';
    color:#c63757;
    font-size: 1.5em;
}
h1{
    font-size: 2em;
    opacity: 0.6;
}
p{
    font-size: 1em;
    opacity: 0.6;
}
.paddingMarginZero{
    margin:0;
    padding:0;
}

header{
    height: 107px;
}

section{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin:0;
}
#description{
    margin-bottom: 50px;
}


p{
    text-align: center;
}
/*.fondImage{
    width: 100%;
    padding: 0;
    margin: 0;
}*/
main{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  justify-content: space-around;
}
#imgPersoL {
    display: flex;
    flex-direction: column;
    width: 50%;
    opacity: 0.6;
    box-shadow: 0px -10px 5px #000;
}
.drop-shadow {
    filter: drop-shadow(2px 4px 8px hsla(0deg, 0%, 0%, 0.5));
}
figure{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0;
}
figcaption{
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 10px;
}
#petitLogo{
    position: absolute;
    z-index: 8;
    top: 20px;
    left: 1em;
    opacity: 0.6;
}
#descritpion{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
#descritpion p{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-size: 2em;
}
footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0px -10px 5px #000;
}
#navFooter img{
    width: 2em;
}
#navFooter {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
}

#navFooter ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    background-color: black;
    border: solid 1px;
    border-color: black;
    border-radius: 30px;
    height: 30px;
}
#navFooter li{
    padding: 0;
    margin: 0;
}
.fontIceland {
    font-family:'Iceland';
    font-size: 8em;
}
a:hover{
    cursor: pointer;
}
#navFooter ul:hover{
    box-shadow: -0.5em 0 .5em yellow;
    transition-duration: 2s;
}
#navFooter li:hover{
    padding: 30px;
    transition-duration: 2s;
}
#navFooter .sizeLogo{
    width: 4em;
}

#navStartIsland{
    height:107px;
}
#logo{
    width: 8.5em;
}

#menuStarisland{
    height:30px;
    background-color: #212121;
}

/*Version telephone*/
@media (max-width: 815px) {
    #descritpion p{
        font-size: 1em;
    }

    main{
     margin-bottom: 100px;
    }
    #navFooter{
        flex-direction: column;
    }
    #navFooter ul:hover{
        box-shadow: none;
    }
    #navFooter li:hover{
        padding: 0;
    }
    #navFooter ul{
        flex-direction: column;

    }
    #petitLogo{
        z-index: 8;
        right: auto;
        top: 0;
        left: 0;
        width: 5em;
    }
    .fontIceland {
        font-size: 2.5em;
    }
    img{
        width: 95%;
    }
    #navFooter ul{
        width: 90%;
    }
    #navFooter .sizeLogo{
        width: 2em;
    }

}
@media (max-width: 600px) {
    #petitLogo{
     position: relative;
     margin:0;
     left: 0;
    }
    figcaption{
        position: relative;
        left: 0;
    }
    figure{
        flex-direction: column-reverse;
    }
    #imgPersoL{
        width: 100%;
    }

}
