@font-face {
    font-family: 'Iceland';
    src: url('../font/Iceland-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Inter';
    src: url('../font/static/Inter-Medium.ttf') format('truetype');
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color:#111111;
    color:white;
    font-family: 'Inter';
    font-size: 1.5em;
}
main{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: space-around;
}

.avis{
    width: 322px;
    height: 105px;
    left: 337px;
    top: 95px;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 40px 40px 0px 40px;
}
label{
    color:#111111;
}
.paddingMarginZero{
    margin:0;
    padding:0;
}
.fontInter{
    font-family: 'Inter', sans-serif;
}
section{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin:0;
    padding: 0;
}
.fontImage1{
    flex-direction: column;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        rgba(181, 112, 112, 0.6), 
        rgba(112, 122, 181, 0.6)
      ),url('../img/Wallpaper4_1.png');
}

.fontImage2{
    flex-direction: column;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        rgba(181, 112, 112, 0.6), 
        rgba(112, 122, 181, 0.6)
      ),url('../img/Wallpaper1.png');
}

#description{
    margin-bottom: 50px;
}
#carouselExampleIndicators{
    margin: 30px;
}

p{
    text-align: center;
}
h1, h2{
    margin-top: 30px;
    text-align: center;
}
.drop-shadow {
    filter: drop-shadow(2px 4px 8px hsla(0deg, 0%, 0%, 0.5));
}
figure{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0;
}
figcaption{
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 10px;
}
#descritpion{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
#descritpion p{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-size: 2em;
}
footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0px -10px 5px #212121;
    opacity: 0.8;
}
#navFooter img{
    width: 2em;
}
#navFooter {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
}

#navFooter ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    background-color: #111111;
    border: solid 1px;
    border-color: #111111;
    border-radius: 30px;
    height: 30px;
}

#navFooter li{
    padding: 0;
    margin: 0;
}
.liNav{
    display:none;
}
#liDiscord{
    display:block;
}

.fontIceland {
    font-family:'Iceland';
    font-size: 8em;
}
a:hover{
    cursor: pointer;
}
#navFooter ul:hover{
    box-shadow: -0.5em 0 .5em yellow;
    transition-duration: 2s;
}
#navFooter li:hover{
    padding: 30px;
    transition-duration: 2s;
}
#navFooter .sizeLogo{
    width: 4em;
}
#avis div{
width: 322px;
height: 105px;
left: 337px;
top: 95px;
background: rgba(255, 255, 255, 0.7);
border: 1px solid rgba(0, 0, 0, 0.5);
text-align: center;
margin: 1.5em;
}
#avis div:nth-child(odd){
    border-radius: 40px 40px 0px 40px;
}
#avis div:nth-child(even){
    border-radius: 40px 40px 40px 0px;
}
#avis p{
    color:#111111;
    font-size: 0.5em;
}
.noChecked{
    color:#111111;
}
.topServeur{
    width: 340px;
    /*height: 340px;*/
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
}
fieldset{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
input{
    width: 300px !important;
}

header, nav {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 107px;
    margin: 0;
    padding: 0;
}

#navStartIsland{
    font-family: 'Inter';
    background-color: #212121 !important;/*obliger de mettre inportant à cause de Boostrap !*/
    color: white;
}
.navbar-toggler{
    color: #EA4C6F !important;/*obliger de mettre inportant à cause de Boostrap !*/
    border-color: #EA4C6F !important;/*obliger de mettre inportant à cause de Boostrap !*/
}

#navStartIsland a{
    color: white;
    font-family: 'Inter', sans-serif;
    margin: 20px;
}
#logo{
    width: 6em;
}

#favHome img{
    width: 2em;
}
#favHome {
    padding: 0;
    padding-right: 40px;
    padding-left: 100px;
    margin: 0;
}
#menuStarisland{
    height:30px;
    background-color: #212121;
}
.checked{
    color: yellow;
}
/*Version telephone*/
@media (max-width: 815px) {
    #descritpion p{
        font-size: 1em;
    }

    main{
     margin-bottom: 100px;
    }
    #navFooter{
        flex-direction: column;
    }
    #navFooter ul:hover{
        box-shadow: none;
    }
    #navFooter li:hover{
        padding: 0;
    }
    #navFooter ul{
        flex-direction: column;

    }
    #petitLogo{
        z-index: 8;
        right: auto;
        top: 0;
        left: 0;
        width: 5em;
    }
    .fontIceland {
        font-size: 2.5em;
    }
    img{
        width: 95%;
    }
    #navFooter ul{
        width: 90%;
    }
    #navFooter .sizeLogo{
        width: 2em;
    }

}
@media (max-width: 600px) {
    #petitLogo{
     position: relative;
     margin:0;
     left: 0;
    }
    figcaption{
        position: relative;
        left: 0;
    }
    figure{
        flex-direction: column-reverse;
    }
    #imgPersoL{
        width: 100%;
    }

}
