@font-face {
    font-family: 'Iceland';
    src: url('../font/Iceland-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Inter';
    src: url('../font/static/Inter-Medium.ttf') format('truetype');
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color:#111111;
    color:white;
    font-family: 'Inter';
    font-size: 1em;
    opacity: 0.9;
}
main{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: space-around;
}
a{
    color:#EA4C6F !important;
}
a:hover{
    color:white !important;
    transition-duration: 2s !important;
}

nav a{
    color:white !important;
}
nav a:hover{
    color:#EA4C6F !important;
    transition-duration: 2s !important;
}

.avis{
    width: 322px;
    height: 105px;
    left: 337px;
    top: 95px;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 40px 40px 0px 40px;
}
label{
    color:#111111;
}
.paddingMarginZero{
    margin:0;
    padding:0;
}
.fontInter{
    font-family: 'Inter', sans-serif;
}

section{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin:0;
    padding: 0;
}
.backgroundColor{
    background-color: rgba(0, 0, 0, 0.5);
}
.divFlexColumn{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
}
.divFlexRow{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.fontImage1{
    flex-direction: column;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        rgba(139, 113, 113, 0.6), 
        rgba(49, 50, 53, 0.6)
      ),url('../img/Wallpaper4_1.png');
}

.fontImage2{
    flex-direction: column;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        rgba(139, 113, 113, 0.6), 
        rgba(49, 50, 53, 0.6)
      ),url('../img/Wallpaper1.png');
}

#description{
    margin-bottom: 50px;
}
#carouselExampleIndicators{
    margin: 30px;
}

p{
    text-align: center;
}
h1, h2{
    margin-top: 30px;
    text-align: center;
}
h1{
    margin-bottom: 60px;
}

figure{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

#descritpion{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
#descritpion p{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-size: 2em;
}
footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    /*box-shadow: 0px -10px 5px #212121;*/
}
#logoGTA {
    justify-content:flex-end;
}
#logoGTA img{
    width: 3.5em;
    padding: 10px;
}
#navFooter img{
    width: 3em;
}
#navFooter {
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
}
#navFooter ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    background-color: #111111;
    border: solid 1px;
    border-color: #111111;
    border-radius: 30px;
    height: 30px;
}
#navFooter li{
    padding: 0;
    margin: 0;
}

.liNav{
    opacity: 0.6;
}
.liNav:hover{
    opacity: 1;
}
#liDiscord{
    display:block;
}

.fontIceland {
    font-family:'Iceland';
    font-size: 8em;
}
a:hover{
    cursor: pointer;
}
#navFooter ul:hover{
    box-shadow: -0.5em 0 .5em yellow;
    transition-duration: 2s;
}
#navFooter li:hover{
    padding: 30px;
    transition-duration: 2s;
}
#navFooter .sizeLogo{
    width: 5.5em;
}
.avisAvatar{
    width: 3em;
    height: 3em;
    margin:2px;
    border-radius: 50%;
    border: solid 3px #EA4C6F;
}
#accueil p{
    width: 60%;
}
.rond{
    width: 1.5em;
    height: 1.5em;
    margin:0;
    border-radius: 50%;
    border: solid 3px #f1dfe3;
    display: inline-block; /* necessaire pour que le span devienne un rond */
}
.rond:hover{
    border: solid 3px #EA4C6F;
}
#accueil{
    padding-top: 60px;
    padding-bottom: 60px;
}

#avis div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*width: 60%;*/
    width: 950px;
    align-items: center;
    justify-content: space-around;
}
#avis figure{
    width: 390px;
    align-items:flex-end;
    margin: 1.5em;
}
#avis figcaption{
width: 322px;
height: 105px;
left: 337px;
top: 95px;
background: rgba(255, 255, 255, 0.7);
border: 1px solid rgba(0, 0, 0, 0.5);
text-align: center;
margin:0;
margin-bottom: 1.5em;
}
#avis figure:nth-child(even){
    flex-direction: row-reverse;
}
#avis figure:nth-child(odd){
    flex-direction: row;
}
#avis figure:nth-child(even) figcaption{
    border-radius: 40px 40px 0px 40px;
}
#avis figure:nth-child(odd) figcaption{
    border-radius: 40px 40px 40px 0px;
}
#avis p{
    color:#111111;
    font-size: 0.8em;
    padding:0;
    margin: 0.5em;
}
.noChecked{
    color:#111111;
}
#topServeur{
    width: 540px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
}
#topServeur label{
    font-size: 2em;
}
fieldset{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
label{
    text-align: center;
}
input{
    width: 300px !important;
}

header, nav {
    background-color: transdrent;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 107px;
    margin: 0;
    padding: 0;
}

#navStartIsland{
    font-family: 'Inter';
    background-color: #212121 !important;/*obliger de mettre inportant à cause de Boostrap !*/
    color: white;
}
.navbar-toggler{
    color: #EA4C6F !important;/*obliger de mettre inportant à cause de Boostrap !*/
    border-color: #EA4C6F !important;/*obliger de mettre inportant à cause de Boostrap !*/
}

#navStartIsland a{
    color: white;
    font-family: 'Inter', sans-serif;
    margin: 20px;
}
#logo{
    width: 6.5em;
}

#favHome img{
    width: 2.5em;
}
#favHome {
    padding: 0;
    padding-right: 40px;
    padding-left: 100px;
    margin: 0;
}
#menuStarisland{
    height:30px;
    background-color: #212121;
}
.checked{
    color: yellow;
}

/*Version telephone*/
@media (max-width: 825px) {
    h1{
        margin-bottom: 10px;
    }

    #avis figure{
        margin:0;
        margin-bottom: 1.5em;
        margin-top: 1.5em;
    }
    #avis div{
        flex-direction: column;
        width: 100%;
    }
    footer{
        box-shadow:none;
    }
    .liNav{
        opacity: 1;
    }
    main{
     margin-bottom: 100px;
    }
    footer{
        margin-top:200px;
    }
    #navFooter{
        flex-direction: column;
        position: relative;
    }
    #navFooter ul:hover{
        box-shadow: none;
    }
    #navFooter li:hover{
        padding: 0;
        padding-bottom: 1em;
    }
    #navFooter li{
        padding: 0;
        padding-bottom: 1em;
    }
    #navFooter ul{
        flex-direction: column;
    }
    #logoGTA{
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 200px;
    }
    #petitLogo{
        z-index: 8;
        right: auto;
        top: 0;
        left: 0;
        width: 5em;
    }
    .fontIceland {
        font-size: 2.5em;
    }
    img{
        width: 95%;
    }
    #navFooter ul{
        width: 90%;
    }
    #navFooter .sizeLogo{
        width: 2.5em;
    }
    #topServeur{
        width: 390px;
    }

}
@media (max-width: 600px) {
    #petitLogo{
     position: relative;
     margin:0;
     left: 0;
    }
}
@media (max-width: 400px) {
    #accueil{
        padding:5px;
    }
    #petitLogo{
     position: relative;
     margin:0;
     left: 0;
    }
    #avis figure{
        width: 360px;
    }
    #avis figcaption{
    width: 300px;
    }
    #avis p{
       margin: 0;
       padding: 3px;
    }
    #topServeur{
        width: 299px;
    }
    input{
        width: 240px !important;
    }
}
@media (max-width: 300px) {
   
    #avis figure{
        width: 275px;
    }
    #avis figcaption{
    width: 225px;
    }
    #avis p{
        margin: 0;
        padding: 2px;
     }
    #topServeur{
        width: 275px;
    }
    input{
        width: 200px !important;
    }
   
}